.propertylist_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.propertylist_header h1 {
    margin: 0;
}

.propertylist_header a {
    text-decoration: none;
    background-color: #ff5e00;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: .5em .8em;
    border-radius: 5px;
    border: 2px solid #ff5e00;
}

.propertylist_header a:hover {
    background-color: transparent;
    color: #ff5e00;
}

.propertylist_container {
    display: flex;
    flex-direction: column;
}

.propertylist_row {
    border-bottom: 1px solid #ff5e00;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    width: 100%;
}

.propertylist_row img {
    margin-right: 1em;
}

.propertylist_row span {
    min-width: 100px;
}

.actions {
    margin-left: auto;
}

.actions a,
.actions button {
    text-decoration: none;
    background-color: #FFF;
    color: #ff5e00;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #ff5e00;
    font-size: 12px;
    margin-left: 1em;
}

.actions a:hover,
.actions button:hover {
    background-color: #ff5e00;
    color: #FFF;
}

.actions .conclude_btn {
    color: #ff5e00;
    border-color: #ff5e00;
}

.actions .conclude_btn:hover {
    color: #FFF;
    border-color: #ff5e00;
}