.property_details_container {
    text-align: center;
}

.property_details_container p {
    margin-bottom: 1em;
}

.property_details_header {
    margin-bottom: 2em;
}

.property_images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1em;
}

.property_images img {
    max-height: 350px;
    max-width: 350px;
    margin-right: 1em;
    margin-bottom: 1em;
}

.property_details_container button {
    text-decoration: none;
    background-color: #ff5e00;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    font-size: 1.1em;
    max-width: 200px;
    min-height: 2.5em;
}

.property_details_container button:hover {
    background-color: #9f3c02
}

.property_details_price {
    font-size: 1.8em;
    color: #444;
    margin: 1.5em;
}

.property_details_price h2 {
    font-size: 2em
}

.property_details_content {
    font-size: 1.4em;
    text-align: center;
}